include ../config/config.pug

doctype html
html(lang='en')
  block siteHeader
  head
    meta(charset='utf-8')/
    //- meta(http-equiv='refresh', content=timeRefresh)/
    meta(http-equiv='X-UA-Compatible' content='IE=9')/
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')/
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no,minimal-ui')/
    ='\n\n'

    // primary information
    title #{siteTitle + ' '+ suffixSiteTitle}
    meta(name='description', content=siteTitle + ' '+ suffixSiteDescription)/
    meta(name='keywords', content=siteTitle + ', ' + suffixSiteKeywords)/

    //- HTML5 IE
    ='\n\n'
    // ie fix for html5 tags
    //[if lt IE 9]><script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script><![endif]
    ='\n\n'

    // author
    meta(name='author' content=author)/
    meta(name='copyright' content=copyright)/

    ='\n\n'

    //- user agent crawler
    -
      robotsContent = 'noindex, nofollow';
    if seoFriendly
      -
        robotsContent = 'index, follow';

    // user agent crawler
    meta(name='robots', content=robotsContent)/
    meta(name='googlebot', content=robotsContent)/
    meta(name='googlebot-news', content=robotsContent)/
    meta(name='msnbot', content=robotsContent)/
    meta(name='webcrawlers', content=robotsContent)/
    meta(name='spiders', content=robotsContent)/
    ='\n\n'

    //- canonical
    if seoFriendly
      // canonical
      link(rel='canonical', href=cannonical)/

      ='\n\n'

    //- og facebook
    if ogFacebook.enable
      // og (google, facebook, linkedin, slack, discord, etc)
      meta(property='og:locale' content='en_US')/
      meta(property='og:type', content=ogFacebook.type)/
      meta(property='og:title', content=siteTitle + ' '+ suffixSiteTitle)/
      meta(property='og:description', content=siteTitle + ' '+ suffixSiteDescription)/
      meta(property='og:url', content=siteURL)/
      meta(property='og:site_name', content=siteDomain)/
      meta(property='og:image', content=ogFacebook.image)/
      meta(property='og:image:type', content=ogFacebook.imageType)/

    ='\n\n'

    //- twitter card
    if twitterCard.enable
      // twitter card
      meta(name='twitter:card' content=twitterCard.sizeCard)/
      meta(name='twitter:title', content=siteTitle + ' '+ suffixSiteTitle)/
      meta(name='twitter:description', content=siteTitle + ' '+ suffixSiteDescription)/
      meta(name='twitter:site', content=twitterCard.twitterId)/
      meta(name='twitter:site:id', content=twitterCard.twitterId)/
      meta(name='twitter:domain', content=siteDomain)/
      meta(name='twitter:url', content=siteURL)/
      meta(name='twitter:image:src', content=twitterCard.image)/
      meta(name='twitter:creator', content=twitterCard.twitterId)/

    ='\n\n'

    // web favicon
    link(rel='shortcut icon' href=icons.webFavicon)/

    ='\n\n'

    // android add to home screen
    //- link(rel='manifest' href=manifest)/
    meta(name='application-name' content=siteAppName)/
    meta(name='mobile-web-app-capable' content='yes')/
    meta(name='theme-color' content=siteTheme)/

    ='\n\n'

    // windows microsoft
    meta(name='msapplication-TileColor' content=siteTheme)/
    meta(name='msapplication-TileImage' content=icons.homescreen.microsoft.s144)/

    ='\n\n'

    // apple add to home screen
    meta(name='apple-mobile-web-app-title' content=siteAppName)/
    meta(name='apple-mobile-web-app-capable' content='yes')/
    meta(name='apple-mobile-web-app-status-bar-style' content=siteTheme)/

    ='\n\n'

    // fonts
    link(rel="preload" href="assets/fonts/Gotham-Bold.woff2" as="font" type="font/woff2" crossorigin)/
    link(rel="preload" href="assets/fonts/Gotham-Medium.woff2" as="font" type="font/woff2" crossorigin)/
    link(rel="preload" href="assets/fonts/Gotham-Book.woff2" as="font" type="font/woff2" crossorigin)/

    ='\n\n'

    // style
    link(rel='stylesheet', href=cssMain)/
    link(rel='stylesheet', href=cssTailwind)/

    ='\n\n'

  body(class=holdTransitionClass)

    ='\n\n'

    include ../layouts/header.pug

    ='\n\n'

    //main-site
    main.main-site.main-site--hide.js-main-site
      //- site-content
      block siteContent
    ='\n'
    ///.main-site

    ='\n\n'

    include ../layouts/footer.pug

    ='\n\n'
    if schema.enable
      // schema organization
      script(type='application/ld+json').
        {

          "@context": "http://schema.org",
          "@id": !{JSON.stringify(schema.url + '#organization')},
          "@type": "Organization",
          "name": !{JSON.stringify(schema.name)},
          "url": !{JSON.stringify(schema.url)},
          "logo": !{JSON.stringify(schema.logo)},
          "contactPoint":[
            !{''}
            {
              "@type": "ContactPoint",
              "telephone": !{JSON.stringify(schema.contactPoint.telephone)},
              "contactType": !{JSON.stringify(schema.contactPoint.contactType)},
              "areaServed": !{JSON.stringify(schema.contactPoint.areaServed)}
            }
          ],
          "sameAs": !{JSON.stringify(schema.sameAs)}
        }
      if schema.search.enable
        // schema website
        ='\n\n'
        script(type='application/ld+json').
          {
            "@context": "http://schema.org",
            "@id": !{JSON.stringify(schema.url + '#website')},
            "@type": "WebSite",
            "url": !{JSON.stringify(schema.url)},
            "name": !{JSON.stringify(schema.name)},
            "potentialAction": {
              "@type": "SearchAction",
              "target": !{JSON.stringify(schema.search.url)},
              "query-input": "required name=search_term_string"
            }
          }
      else
        script(type='application/ld+json').
          {
            "@context": "http://schema.org",
            "@id": !{JSON.stringify(schema.url + '#website')},
            "@type": "WebSite",
            "url": !{JSON.stringify(schema.url)},
            "name": !{JSON.stringify(schema.name)}
          }
      ='\n\n'
      // schema webpage
      script(type='application/ld+json').
        {
          "@context": "http://schema.org",
          "@id": !{JSON.stringify(schema.url + '#webpage')},
          "@type": "WebPage",
          "url": !{JSON.stringify(schema.url)},
          "name": !{JSON.stringify(schema.name)}
        }

    // script
    script(src=jsVendor)
    script(src=jsMain)
    ='\n\n'
