//-------------------------------------------------------------------------------
  @name: Beyond Performance V
  -------------------------------------------------------------------------------//

//beyond-performance-v
section.beyond-performance-v
  .container
    .beyond-performance-v__sequences.js-beyond-performance-v-sequences
      //- .beyond-performance-v__img
      //-   =`\n`
      //-   img.beyond-performance-v__img__el(src="https://bdd.capital-six.com/wp-content/uploads/2022/12/5-Beyond-Performance-Call-Outs_00000.png", alt="beyond performance")/
      .beyond-performance-v__video
        video.beyond-performance-v__video__el(muted autoplay loop)
          source(src="assets/video/beyond-performance-small.mp4" type="video/mp4")
          | Your browser does not support the video tag.
    .beyond-performance-v__list.js-beyond-performance-v-list
      .beyond-performance-v__item
        each val in data.top
          .beyond-performance-v__col
            if val.label
              p.beyond-performance-v__label !{val.label}
            h4.beyond-performance-v__ttl !{val.ttl}
            if val.desc
              p.beyond-performance-v__desc !{val.desc}
      .beyond-performance-v__item
        each val in data.bottom
          .beyond-performance-v__col
            if val.label
              p.beyond-performance-v__label !{val.label}
            h4.beyond-performance-v__ttl !{val.ttl}
            if val.desc
              p.beyond-performance-v__desc !{val.desc}
=`\n`
///.beyond-performance-v
